# Local .terraform directories
paths/certfied-kubernetes-administrator/terraform/.terraform/
.terraform/

# .tfstate files
*.tfstate
*.tfstate.*
**/plan.tf
**/.terraform.lock.hcl
**/terraform.tfstate.backup

# Mac OS system files
.DS_Store

# Executables
# Executable
go-webservice
